<div class="row">
  <div class="small-12 small-centered columns">
    <h1 class="head">Peter Meehan</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-4 columns ">
    <div class="face-container">
      <img class="face" src="assets/img/australia.png"/>
    </div>
  </div>
  <div class="small-12 medium-8 columns">
    <div class="spiel">
      That's me. I'm a {{year}} year old web, mobile, and full stack developer. Currently studying Computer Science at <a target="_blank" href="http://www.tcd.ie">Trinity College Dublin</a>; I spent last summer making a <a target="_blank" href="https://www.tcd.ie/mydigitalid">thing</a> for them with a <a target="_blank" href="http://www.github.com/c-brenn">mate</a>. For a more professional spiel visit my LinkedIn.

      <div class="row social">
        <a class="small-3 columns" target="_blank" href="https://twitter.com/22a">
          <img src="/assets/img/social/twitter.png" />
        </a>
        <a class="small-3 columns" target="_blank" href="https://github.com/22a">
          <img src="/assets/img/social/github_rev2.png" />
        </a>
        <a class="small-3 columns" target="_blank" href="https://www.linkedin.com/in/meehanp2">
          <img src="/assets/img/social/linkedin.png" />
        </a>
        <a class="small-3 columns" href="http://www.google.com/recaptcha/mailhide/d?k=01Pux7Yx6WDZkI-CN9Q5UZ5g==&amp;c=Lge0h26sXanDC3FPxEDDnQ==" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501Pux7Yx6WDZkI-CN9Q5UZ5g\75\75\46c\75Lge0h26sXanDC3FPxEDDnQ\75\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal my super secret email"><img src="/assets/img/social/email.png" /></a>
      </div>
    </div>
  </div>
</div>
