html{
  background:url('j.jpg') no-repeat right center;
  min-height:100%;
  background-size:cover;
}
body{
  min-height:100%;
  background: transparent;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.cool{
  background-color: rgba(1,1,1,0.5);
  padding: 15px;
}
.social-block{
  background-color: rgba(255,255,255,0.1);
  margin-bottom: 2px;
}
.social-icon{
  width: 32px;
  height: 32px;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  padding: 5px;
}
a, a:visited, a:hover{
  color: white;
  text-decoration: none;
}
h1{
  margin: 0;
  font-weight: 100;
}
